* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: #2e3440;
  background-color: #D8DEE9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container {
  background-image: url("./img/nord_rainbow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 1200px;
  background-color: #2E3440;
  width: 30%;
  height: 100%;
  flex-shrink: 0;
  box-shadow: 0 0 15px -2px #4C566A;
}

.logo {
  color: #D8DEE9;
  font-weight: bold;
  font-size: 2em;
  line-height: 0.88;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: .25em;
}

.logo > img {
  margin-right: .2em;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.form-container {
  background-color: #ECEFF4;
  display: flex;
  flex-direction: column;
  border: 0px solid;
  border-radius: 2em;
  box-shadow: 0 0 15px -5px #4C566A;
  width: 80%;
  padding: 2.5em;
  margin: auto 0;
}

.info-box {
  font-weight: bold;
  font-size: 1.2em;
  max-width: 32em;
  margin-bottom: 2.5em;
}

form label {
  color: #4C566A;
  font-weight: bold;
  display: block;
  margin-bottom: .25em;
}

label > abbr {
  color: #BF616A;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  padding: .5em 0;
}

.form-section-module {
  margin: .5em 2em 0 0;
}

.form-section-module > input {
  color: #4C566A;
  font-weight: bold;
  width: 18em;
  height: 2.2em;
  background-color: #E5E9F0;
  border: 2px solid #D8DEE9;
  border-radius: .5em;
}

.form-section-module > input:hover {
  box-shadow: 0 0 15px -9px #4C566A;
}

.form-section-module > input:focus {
  border-color: #81A1C1;
  box-shadow: 0 0 15px -9px #4C566A;
}

.form-section-module > input.error:not(:focus) {
  border-color: #BF616A;
}

.form-section-module > input:valid:not(:focus, :placeholder-shown) {
  border-color: #A3BE8C;
}

.signup-button-container {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.signup-button-container button {
  color: #ECEFF4;
  background-color: #5E81AC;
  font-weight: bold;
  font-size: 1.2em;
  border: 0 solid;
  border-radius: .5em;
  box-shadow: 0 0 15px -5px #4C566A;
  padding: .5em 2em;
}

.signup-button-container button:hover:not(:active) {
  background-color: #81A1C1;
}

.signup-button-container > div {
  font-size: .9em;
  font-weight: bold;
  margin-left: 1.5em;
}

.signup-button-container a {
  color: #5E81AC;
  text-decoration: none;
}

.signup-button-container a:hover:not(:active) {
  color: #81A1C1;
  text-decoration: none;
}

.footer {
  color: #E5E7EB;
  background-color: #2E3440;
  display: flex;
  font-size: 1.125em;
  padding: 0.8888888888888888em;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-text {
  position: relative;
  right: 20%;
}